@import 'reset';

.drop-box{
  width: 150px;
  height: 150px;
  border: 1px solid #000;
}

.pencilEdit{
  display: inline-block;
  background-color: none;
  margin-top: -12px; 
  margin-left: 10px;
}

.profName{
  display:inline-block;
}

.pictureCont{
  display: inline-block;
}

.imgalighn{
  float: right;
  margin-top: -40px;
}

.right{
  text-align: right;
}